/* 불렛이 있는 영역 (부모 영역) */
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal
{
    bottom: var(--swiper-pagination-bottom, -25px);
}

/* 기본 페이지네이션 설정 */
.swiper-pagination 
{
    position: relative; /* PC 기준에서 relative */
    height: 50px; /* PC 기준에서 높이 50px로 고정 */
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet 
{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
}

/* 반응형 설정: 태블릿 이하에서는 기본 설정값을 따르도록 */
@media (max-width: 1024px) 
{
    .swiper-pagination 
    {
        height: inherit; /* 부모에서 설정된 기본 height를 상속받도록 설정 */
        position: absolute; /* 모바일 및 태블릿에서 absolute로 돌아가게 설정 */
    }
}

/* 모바일 화면에서는 불렛이 잘리지 않도록 패딩 조정 가능 */
@media (max-width: 768px) 
{
    .swiper-pagination 
    {
        height: inherit; /* 모바일에서도 기본 height를 상속 */
        position: absolute; /* 모바일 화면에서 absolute로 설정 */
    }
}


.swiper-pagination-bullets .swiper-pagination-bullet
{
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 9px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 9px));
    background: var(--swiper-pagination-bullet-inactive-color, #87898b);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.6);
}

.swiper-pagination-bullets .swiper-pagination-bullet-active
{
    background-color: #da0f6e;
    opacity: var(--swiper-pagination-bullet-opacity, 1);
}
